.empty-content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.empty-icon svg{
    width: 80px;
    height: 80px;
}

.empty-text-box{
    margin: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.empty-text-title{
    font-size: 32px;
    font-weight: 800;
}

.empty-text-subtitle{
    font-size: 11px;
    color: #e5e7eb;
    max-width: 50ch;
}

#add-new-todo{
    transition: all .150s ease-in-out;
    font-weight: 700;
    font-size: 14px;
    padding: 1em;
    background-color: var(--submit-btn);
    box-shadow: 5px 5px 0px 0px #4f4e4e;
    color: black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#add-new-todo:active{
    transform: translateX(5px) translateY(5px);
    box-shadow: 0px 0px 0px 0px #4f4e4e;
}


#add-new-todo svg{
    width: 22px;
}

/* lg */
@media (min-width: 725px){
    .empty-icon svg{
        width: 110px;
        height: 110px;
    }
    
    .empty-text-title{
        font-size: 55px;
    }
    
    .empty-text-subtitle{
        font-size: 13px;
    }
    
}